body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu';
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.app-container-light {
  background-color: white;
  color: black;
}

.app-container h1 {
  font-size: 50px;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: auto;
}

.app-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px 0;
}

.app-buttons-container button {
  height: 50px;
  width: 120px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: black;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

#start:hover {
  background-color: green;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

#stop:hover {
  background-color: red;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

#reset:hover {
  background-color: goldenrod;
  transform: scale(1.1);
  transition-duration: 0.2s;
}