@font-face{
  font-family:'digital-clock-font';
  src: url('./assets/digital-7.ttf');
 }

.time-display {
  width: 350px;
  height: 80px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  font-family:'digital-clock-font';
  background-color: black;
}

.time-display-container-running {
  border: 3px solid lightgreen;
}

.time-display-container-stopped {
  border: 3px solid red;
}

.time-display div {
  font-size: 100px;
  margin: auto;
}

.time-display-stopped {
  color: red;
}

.time-display-running {
  color: lightgreen;
}